<li>
<h1>Parent</h1>
</li>
<div class="nested-fields">
<h1>In : _parent_fields.html</h1>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%# <%= link_to_remove_association "remove student", f %> %>
</div>