<div class="d-flex bd-highlight cm_container">

  <%= render partial: 'common/menu' %>

  <div class="p-2 w-100 bd-highlight cm_item_container">
    <%= render partial: 'common/form' %>
    <%= render partial: 'common/table' %>
  </div>

</div>